body {
  margin: 0 20px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
}

/* JS */
.none {
  display: none !important;
}

/* HEADEr */
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
}

.ultraRight {
  display: flex;
  gap: 10px;
}
/* HERO */
.container {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.side {
  width: 50vw;
}

.textSide {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSide p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.imgSide {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSide img {
  object-fit: cover;
  height: 550px;
  max-width: 500px;
}

.hero {
  margin: 0 !important;
}

/* ABOUt */
.about ol li {
  list-style-type: none;
  margin: 10px 0;
}

.about ol li button {
  font-weight: 700;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #969696;
  width: 80vw;
  text-align: right;
}

/* Problem */

.about {
  margin: 5vh 0;
}

.about ol li button:hover {
  cursor: pointer;
}

#problem,
#solved {
  position: relative;
  display: flex;
}

/* #solved {
  border-bottom: 2px solid #969696;
} */

.problemText,
.solutionText {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* APP */
.app {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/* FOOTER */
