body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
}

/* * {
  border: 1px solid red;
} */

/* JS */
.none {
  display: none !important;
}

/* HEADEr */

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
}

.ultraRight {
  display: flex;
  gap: 10px;
}

/* HERO */
.container {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.side {
  width: 50vw;
}

.textSide {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSide p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.imgSide {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSide img {
  object-fit: cover;
  height: 550px;
  max-width: 500px;
}

.imgSide {
  background-image: url(../img/hero.jpeg);
  width: 50vw;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  margin: 0 !important;
}

/* ABOUt */

.about ol li {
  list-style-type: none;
  margin: 10px 0;
}

ol {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about ol li button {
  font-weight: 700;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #969696;
  width: 95vw;
  text-align: right;
}

.about ol li button:hover {
  cursor: pointer;
}

#problem,
#solved {
  position: relative;
  display: flex;
}

/* #solved {
  border-bottom: 2px solid #969696;
} */

.problemText,
.solutionText {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* APP */
.app {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  height: 100vh;
  align-items: center;
}

.appText {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  border-top: 1px solid #000;
  padding: 10px 20px;
}

/* Thanks to W3Schools.com */

/* SLIDESHOW */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

.mySlides img {
  object-fit: cover;
  height: 550px;
  max-width: 500px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
