body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Mitr", sans-serif;
}

/* JS */
.none {
  display: none !important;
}

/* HEADEr */

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #000;
  padding: 15px 200px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li img {
  height: 50px;
  object-fit: cover;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

header nav ul li a:hover {
  border-bottom: 2px solid #000;
}

.ultraRight {
  display: flex;
  gap: 40px;
}

/* HERO */
.container {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.side {
  width: 50vw;
}

.textSide {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSide h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
  color: #f58732;
}

.textSide p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  width: 80%;
}

.imgSide {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSide img {
  object-fit: cover;
  height: 550px;
  max-width: 500px;
}

.imgSide {
  background-image: url(../img/hero.jpeg);
  width: 50vw;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  margin: 0 !important;
  margin-bottom: 10vh !important;
}

.CTA {
  text-decoration: none;
  color: white;
  background-color: #9e01ff;
  padding: 20px 30px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.5s;
}

.CTA:hover {
  cursor: pointer;
  background-color: rgb(141, 5, 5);
  transition: 0.5s;
}

/* ABOUt */

.about h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 20px 300px;
}

.about ol li {
  list-style-type: none;
  margin: 10px 0;
}

/* * {
  border: 1px solid red;
} */

ol {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about ol li button:hover {
  cursor: pointer;
}

#problem,
#solved,
#field,
#brainstorm,
#reflection {
  padding: 5vh 0;
  position: relative;
  display: flex;
  gap: 5vw;
  align-items: center;
}

#problem div,
#solved div,
#field div,
#brainstorm div,
#reflection div {
  width: 50vw;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.problemText h3,
.solvedText h3,
.fieldText h3,
.brainstormText h3,
.reflectionText h3 {
  font-size: 4rem;
  font-weight: 900;
}

.problemText p,
.solvedText p,
.fieldText p,
.brainstormText p,
.reflectionText p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  width: 80%;
}

#problem img,
#solved img,
#field img,
#brainstorm img,
#reflection img {
  object-fit: cover;
  height: 350px;
  max-width: 450px;
}

.openDivBtn {
  font-weight: 700;
  font-size: 2.4rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #969696;
  width: 95vw;
  text-align: right;
  color: #969696;
}

.openDivBtn:hover {
  cursor: pointer;
  color: #000;
  border-bottom: 2px solid #000;
}
/* #solved {
  border-bottom: 2px solid #969696;
} */

/* APPP */
.appContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10vh;
  padding: 10vh 0;
}

.appContainerR {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 10vh;
  padding: 10vh 0;
}

.text {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text h2 {
  font-size: 4.5rem;
  font-weight: 500;
  margin: 0;
}

.text p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  width: 80%;
}

.appPicture {
  height: 650px;
  margin-top: -25px;
  border: 1px solid black;
}

.arrowL {
  font-size: 5rem;
  color: #969696;
  height: 450px;
  margin: 0 20vw;
}

.arrowR {
  font-size: 5rem;
  color: #969696;
  height: 450px;
  margin: 0 20vw;
  /* flip on x ass 180deg */
}

.artistHeader {
  font-size: 8rem;
  color: #f58732;
  padding-left: 10vw;
}

.about h1 {
  font-size: 5rem;
  color: #9e01ff;

  padding-left: 10vw;
}

/* OVER ONS */
.aboutUs {
  border-top: 1px solid rgba(0, 0, 0, 0.136);
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}

.aboutUs-team {
  width: 25vw;
}

.aboutUs-team h1 {
  color: #9e01ff;
  font-weight: 500;
}

.aboutUs-team ul {
  margin: 0;
  padding: 0;
}

.aboutUs-team ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 0;
}

.aboutUs-team ul li img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.aboutUs-team ul li p {
  font-weight: 500;
}

.aboutUs-text {
  width: 25vw;
}

.aboutUs-text h1 {
  color: #f58732;
  font-weight: 500;
}

.aboutUs-text p {
  line-height: 2;
  font-size: 1.5rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
}

.footerText p {
  line-height: 1;
  font-weight: 800;
  font-size: 1.5rem;
}

.footerText a {
  color: white;
  text-decoration: none;
  text-align: center;
}

/* 
  RESPONSIVE
*/

@media only screen and (max-width: 800px) {
  /* * {
    border: 1px solid red;
  } */

  .ultraRight {
    display: none;
  }
  header {
    position: static;
    padding: 15px;
  }
  .container {
    flex-direction: column;

    width: 100%;
    padding: 30px 0;
  }

  .textSide h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .textSide p {
    font-size: 1rem;
    line-height: 2;
    width: 80vw;
  }

  .CTA {
    font-size: 1rem;
    padding: 10px 20px;
  }

  header nav ul {
    justify-content: center;
    padding: 0;
  }
  .imgSide {
    width: 50vw;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* ABOUT */
  .about h1 {
    font-size: 2rem;
    width: unset;
    padding: 0;
    text-align: center;
  }
  #problem,
  #solved,
  #field,
  #brainstorm,
  #reflection {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  #problem div p,
  #solved div p,
  #field div p,
  #brainstorm div p,
  #reflection div p {
    width: 80vw;
  }

  /* APP */
  .appContainer {
    flex-direction: column;
    gap: 0;
    padding: 0;
    align-items: center;
    margin: 5vh 0;
  }

  .text {
    width: 100vw;
  }

  .text h2 {
    font-size: 2rem;
    font-weight: 600;
    width: 80vw;
    text-align: center;
  }

  .text p {
    font-size: 1rem;
    line-height: 2;
    width: 80vw;
    text-align: center;
    margin-bottom: 10vh;
  }

  .appPicture {
    height: 350px;
    object-fit: cover;
  }

  .appContainerR {
    flex-direction: column;
    gap: 0;
    padding: 0;
    align-items: center;
  }

  .arrowR,
  .arrowL {
    display: none;
  }

  .artistHeader {
    font-size: 4rem;
    text-align: center;
    padding: 0;
  }

  /* ABOUT US */
  .aboutUs {
    flex-direction: column;
    gap: 0;
    padding: 0;
    align-items: center;
    margin: 5vh 0;
    width: 100vw;
    align-items: normal;
  }

  .aboutUs-team,
  .aboutUs-text {
    width: 100vw;
  }

  .aboutUs-team h1,
  .aboutUs-text h1 {
    font-size: 2rem;
    text-align: center;
  }

  .aboutUs-team ul {
    display: flex;
    flex-direction: column;
    margin-left: 25vw !important;
  }

  .aboutUs-text p {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
  }
}
